<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

    <p>
      Coding was always something that Matt wanted to get into after high school, but never really took the leap.
  </p>
  <br />
  <p>
      He went to college and obtained a bachelors degree in Linguistics, but never really felt like there was much he can do with a degree in that field.
  </p>
  <p>
      Quite a few years after, Matt decided to take the dive into learning programming, so that he can obtain a set of skills and utlize in a career setting.
  </p>


     <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'matt.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Matt</h2>
      <br />
      <p>
        Matt is completely new to coding. He is a student working towards an entry level developer title. Currently Matt works at Best Buy, while taking an online course to learn how to code in order to advance in his career.   
      </p>
    </div>
  </div>
 

</div>

<br class="clear" />
<br />
<br />
<br />
<br />