<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

    <p>
      # insert #
  </p>
  <br />
  <p>
      # insert #
  </p>
  <p>
      # insert #
  </p>


     <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'matt.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Matt</h2>
      <br />
      <p>
        Matt is completely new to coding. He is a student working towards an entry level developer title.   
      </p>
    </div>
  </div>
 

</div>

<br class="clear" />
<br />
<br />
<br />
<br />